.outer-loader {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-loader {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 6px solid #007bff; /* Change the color to match your design */
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
}

.logo {
  width: 40px; /* Adjust the size of your logo */
  height: 40px;
 
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}